@model IEnumerable<MvcCoreAWSDynamoDBS3.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:green">Usuario Version 2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model == null)
{
    <h1 style="color: red">@ViewData["MENSAJE"]</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdUsuario })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}